{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.samples'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <main class="page samples-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Шаблоны</h2>
                    <p>
                        Даруйце!
                        <br>
                        Гэтая старонка яшчэ знаходзіцца на стадыі распрацоўкі.
                        Калі ласка, зайдзіце сюды пазней.
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
