{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.about'|trans }}
{% endblock %}

{% block body %}
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About me</h2>
                    <p>
                        Thanks for visiting my website.
                    </p>
                </div>

                <div class="row">
                    <div class="col">
                        <h2>My Experience</h2>
                        <p>
                            Allow me to introduce myself.
                            I'm a skilled web developer based in Belarus with expertise in PHP, JavaScript, HTML/CSS, and
                            various frameworks such as Symfony and Laravel. I have been working in the field since 2012,
                            gaining valuable experience with enterprise projects.
                        </p>
                        <p>
                            Currently, I work as a web developer at the local hosting company: Hoster.by. I enjoy the
                            intersection of hardware and software, and I love what I do in this field.
                        </p>
                        <p>
                            In addition to my main job, I also work as a self-employed developer. I have a passion for
                            creating custom themes without relying on plugins, using tools like Gulp, Webpack, and SVG
                            animation to enhance the user experience. While I have experience with content management
                            systems like WordPress, I prefer the flexibility of building tailored solutions.
                        </p>
                        <p>
                            My educational background is in research physics.
                            Fluent in English, Belarusian, and with some knowledge of German, I can
                            effectively communicate with clients from diverse backgrounds.
                            I also have a good understanding of Polish and Ukrainian, often reading news
                            articles in their original languages without the need for a translator.
                        </p>
                        <p>
                            I am open to freelance opportunities and would be delighted to work on small projects for
                            clients across the European Union and the world.
                        </p>
                        <p>
                            Although I am committed to staying in Belarus and not considering relocation, I am
                            enthusiastic about traveling. Exploring new places and cultures broadens my perspective and
                            inspires creativity in my work.
                        </p>

                        <p>
                            If you are searching for a professional web developer who can deliver high-quality
                            solutions,
                            please don't hesitate to reach out. I'm excited to collaborate on your next project.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
