{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.contacts'|trans }}
{% endblock %}

{% block body %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 id="title" class="text-info">Contacts</h2>
                    <p>My e-mail: <a href="mailto:site@juljan.by">site@juljan.by</a>.</p>
                    <br>
                    <p>
                        If you have any inquiries or would like to place an order, feel free to reach out to me. You can
                        reach me by email or simply fill out the form below. I'll be glad to assist you with your
                        questions or project requirements.
                    </p>
                </div>

                <form id="contact" action="/feedback" method="post"
                      data-success="Thanks! Your message delivered.">
                    <input id="fuck-off" type="hidden" name="fuck-off-spam"
                           value="67d7a9b749229a2fb2812726c516bf460caf92a6">
                    <input type="hidden" name="sender" value="form">

                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <input class="form-control"
                               id="name"
                               name="name"
                               autocomplete="name" type="text"/>
                    </div>

                    <div class="form-group">
                        <label for="email">Your Email</label>
                        <input class="form-control"
                               id="email"
                               name="email"
                               autocomplete="email" type="text"/>
                    </div>

                    <div class="form-group">
                        <label for="msg">Text</label>
                        <textarea name="msg"
                                  id="msg"
                                  class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <input type="submit"
                               class="btn btn-primary btn-block" value="Send">
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
