{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.prices'|trans }}
{% endblock %}

{% block body %}
    <main class="page pricing-table-page">
        <section class="clean-block clean-pricing dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Prices</h2>
                    <p>
                        A small estimate for the development of <strong>live</strong> animation.
                    </p>
                    <p>
                        Reference Information:
                        100 Byn = ~30.50 USD
                    </p>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>Simple banner</h3>
                            </div>
                            <p>
                                A banner with available templates or animations with a smooth flow of objects.
                            </p>
                            <div class="features">
                                <h4><span class="feature">Animated background:&nbsp;</span><span>None</span></h4>
                                <h4><span class="feature">Text:&nbsp;</span><span>3 objects</span></h4>
                                <h4><span class="feature">Images:&nbsp;</span><span>2 objects</span></h4>
                            </div>
                            <div class="price">
                                <h4>200 BYN</h4>
                            </div>
                            <a href="/en/order?subject=ШаблонныБанер" class="btn btn-outline-primary btn-block">
                                Order
                            </a>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="ribbon"><span>Best!</span></div>
                            <div class="heading">
                                <h3>Gold standard</h3>
                            </div>
                            <p>
                                A standard banner for your needs with animated background, images and text.
                            </p>
                            <div class="features">
                                <h4><span class="feature">Animated background:&nbsp;</span><span>Ёсць</span></h4>
                                <h4><span class="feature">Text:&nbsp;</span><span>5 objects</span></h4>
                                <h4><span class="feature">Images:&nbsp;</span><span>5 objects</span></h4>
                            </div>
                            <div class="price">
                                <h4>350 BYN</h4>
                            </div>
                            <a href="/en/order?subject=СтандартныБанер" class="btn btn-primary btn-block">Order</a>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>Пашыраны сцэнар</h3>
                            </div>
                            <p>Анімацыя адаптыўная з улікам рознай шырыні экрана.</p><br>
                            <div class="features">
                                <h4><span class="feature">Animated background:&nbsp;</span><span>Ёсць</span></h4>
                                <h4><span class="feature">Text:&nbsp;</span><span>10 objects</span></h4>
                                <h4><span class="feature">Images:&nbsp;</span><span>10 objects</span></h4>
                            </div>
                            <div class="price">
                                <h4>500 BYN</h4>
                            </div>
                            <a href="/en/order?subject=ПашыраныБанер" class="btn btn-outline-primary btn-block">Order</a>
                        </div>
                    </div>
                </div>

                <p><br></p>

                <div class="row justify-content-center">
                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>Poster A4</h3>
                            </div>
                            <p>
                                Layout of A4 format for printing.
                                Depends on the design.
                                The minimum price is indicated.
                            </p>
                            <div class="price">
                                <h4>450 BYN</h4>
                            </div>
                            <a href="/en/order?subject=А4Макет" class="btn btn-outline-primary btn-block">Order</a>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>Booklet</h3>
                            </div>
                            <p>
                                Double-sided A4 booklet.
                                Depends on the design.
                                The minimum price is indicated.
                            </p>

                            <div class="price">
                                <h4>350 BYN</h4>
                            </div>
                            <a href="/en/order?subject=Буклет" class="btn btn-outline-primary btn-block">Order</a>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>Leaflet А5</h3>
                            </div>
                            <p>
                                Layout of A5 format for printing.
                                Depends on the design.
                                The minimum price is indicated.
                            </p>
                            <div class="price">
                                <h4>250 BYN</h4>
                            </div>
                            <a href="/en/order?subject=А5Макет" class="btn btn-outline-primary btn-block">
                                Order
                            </a>
                        </div>
                    </div>

                    <p><br></p>

                    <div class="row">
                        <div class="col">
                            <p><br></p>
                            <h2>
                                And more:
                            </h2>
                            <p>
                                Any other services related to advertising and the Internet. Prices are negotiable.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
{% endblock %}
