{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.prices'|trans }}
{% endblock %}

{% block body %}
    <main class="page pricing-table-page">
        <section class="clean-block clean-pricing dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Кошты</h2>
                    <p>
                        Невялікі каштарыс распрацоўкі <strong>жывой</strong> анімацыі.
                    </p>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>Шаблонны банер</h3>
                            </div>
                            <p>
                                Банер з даступных гатовых шаблонаў або анімацыя з невялікай колькасцю аб'ектаў.
                            </p>
                            <div class="features">
                                <h4><span class="feature">Анімаваны фон:&nbsp;</span><span>Няма</span></h4>
                                <h4><span class="feature">Тэкст:&nbsp;</span><span>3 аб'екты</span></h4>
                                <h4><span class="feature">Малюнкі:&nbsp;</span><span>2 аб'екты</span></h4>
                            </div>
                            <div class="price">
                                <h4>80 BYN</h4>
                            </div>
                            <a href="/be/order?subject=ШаблонныБанер" class="btn btn-outline-primary btn-block">Замовіць</a>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="ribbon"><span>Раім!</span></div>
                            <div class="heading">
                                <h3>Залаты стандарт</h3>
                            </div>
                            <p>
                                Стандартны банер пад Вашыя патрэбы з анімаваным фонам, малюнкамі і тэкстам.
                            </p>
                            <div class="features">
                                <h4><span class="feature">Анімаваны фон:&nbsp;</span><span>Ёсць</span></h4>
                                <h4><span class="feature">Тэкст:&nbsp;</span><span>5 аб'ектаў</span></h4>
                                <h4><span class="feature">Малюнкі:&nbsp;</span><span>5 аб'ектаў</span></h4>
                            </div>
                            <div class="price">
                                <h4>150 BYN</h4>
                            </div>
                            <a href="/be/order?subject=СтандартныБанер" class="btn btn-primary btn-block">Замовіць</a>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>Пашыраны сцэнар</h3>
                            </div>
                            <p>Анімацыя адаптыўная з улікам рознай шырыні экрана.</p><br>
                            <div class="features">
                                <h4><span class="feature">Анімаваны фон:&nbsp;</span><span>Ёсць</span></h4>
                                <h4><span class="feature">Тэкст:&nbsp;</span><span>10 аб'ектаў</span></h4>
                                <h4><span class="feature">Малюнкі:&nbsp;</span><span>10 аб'ектаў</span></h4>
                            </div>
                            <div class="price">
                                <h4>200 BYN</h4>
                            </div>
                            <a href="/be/order?subject=ПашыраныБанер" class="btn btn-outline-primary btn-block">Замовіць</a>
                        </div>
                    </div>
                </div>

                <p><br></p>

                <div class="row justify-content-center">
                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>Плакат А4</h3>
                            </div>
                            <p>
                                Макет фармату А4 на друк.
                                Залежыць ад дызайну.
                                Пазначаны мінімальны кошт.
                            </p>
                            <div class="price">
                                <h4>250 BYN</h4>
                            </div>
                            <a href="/be/order?subject=А4Макет" class="btn btn-outline-primary btn-block">Замовіць</a>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>Буклет</h3>
                            </div>
                            <p>
                                Двухбаковы А4 буклет.
                                Залежыць ад дызайну.
                                Пазначаны мінімальны кошт.
                            </p>

                            <div class="price">
                                <h4>320 BYN</h4>
                            </div>
                            <a href="/be/order?subject=Буклет" class="btn btn-outline-primary btn-block">Замовіць</a>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>Улётка А5</h3>
                            </div>
                            <p>
                                Макет фармату А5 на друк.
                                Залежыць ад дызайну.
                                Пазначаны мінімальны кошт.
                            </p>
                            <div class="price">
                                <h4>190 BYN</h4>
                            </div>
                            <a href="/be/order?subject=А5Макет" class="btn btn-outline-primary btn-block">Замовіць</a>
                        </div>
                    </div>

                    <p><br></p>

                    <div class="row">
                        <div class="col">
                            <p><br></p>
                            <h2>
                                А таксама
                            </h2>
                            <p>
                                Любыя іншыя паслугі, датычныя рэкламы і інтэрнэта. Кошты — па дамоўленасці.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
{% endblock %}
