{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.samples'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <main class="page samples-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Шаблоны</h2>
                </div>

                <div class="row">
                    <article class="col-md-8 offset-2">
                        <p class="text-center">
                            Некаторыя прыклады анімацый, аформленныя ў шаблоны.
                            Далей будзе болей. Старонка ў працэсе абнаўлення.
                        </p>

                        <h3 class="text-center">
                            Банэр з слоганам кампаніі
                        </h3>
                        <p class="text-center">
                            <canvas id='teapotBanner' width='600' height='80'></canvas>
                        </p>
                        <hr/>

                        <h3 class="text-center">
                            Банэр з абстрактным фонам
                        </h3>
                        <p class="text-center">
                            <canvas id="jPromo" width="540" height="250"></canvas>
                        </p>
                    </article>
                </div>
            </div>
        </section>
    </main>
{% endblock %}


{% block javascripts %}
    <script async defer src="/assets/js/home.js"></script>

    <script async>
        (function teapotBannerHandler(){
            const canvas = document.getElementById('teapotBanner');
            const ctx = canvas.getContext('2d');
            const companyName = 'Teapot.By — Чай? Кофе? Покупаем! 😋';
            let x = 0;

            function getIncreasedColorValue(min, max, step) {
                let value = min; // static values
                step = step || 1;

                return function() {
                    if (value > max || value < min) {
                        step = -1 * step;
                    }

                    value = value + step;

                    return value;
                };
            }

            const nextRedColor1 = getIncreasedColorValue(92, 204);
            const nextBlueColor1 = getIncreasedColorValue(192, 224);

            const nextRedColor2 = getIncreasedColorValue(2, 64);
            const nextBlueColor2 = getIncreasedColorValue(128, 248);

            // Abstract background animation
            function drawBackground() {
                let r = nextRedColor1();
                let g = 20;
                let b = nextBlueColor1();
                const colorStart = 'rgb(' + r + ',' + g + ',' + b + ')';

                r = nextRedColor2();//37
                g = 117;
                b = nextBlueColor2(); //252
                const colorEnd = 'rgb(' + r + ',' + g + ',' + b + ')';

                const gradient = ctx.createLinearGradient(0, 0, canvas.width, 0);
                gradient.addColorStop(0, colorStart);
                gradient.addColorStop(1, colorEnd);
                ctx.fillStyle = gradient;
                ctx.fillRect(0, 0, canvas.width, canvas.height);
            }

            function drawText() {
                ctx.font = '36px Tahoma';
                ctx.fillStyle = '#FFFFFF';
                ctx.textAlign = 'center';
                ctx.fillText(companyName, x, canvas.height / 2 + 10);
                x = x < 0 ? canvas.width : --x;
            }

            // Main animation loop
            function animate() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                drawBackground();
                drawText();
                requestAnimationFrame(animate);
            }
            animate();
        })();
    </script>
{% endblock %}
