{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.services'|trans }}
{% endblock %}

{% block body %}
<main class="page">
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Паслугі</h2>
                <p>
                    Мы любім распрацоўваць дынамічныя прыгожыя анімацыі, якія часта называюць банерамі.
                </p>
            </div>

            <div class="row justify-content-center">
                <div class="col">
                    <h2>Апроч гэтага</h2>
                    <p>
                        Маем досвед стварэння розных банераў і рэкламнай прадукцыі.
                        Бо робім рэкламныя элементы даўно.
                        Займаемся вырабам электронных макетаў рэкламнай прадукцыі.
                        Ажыццяўляем індывідуальны падыход.
                        Можам падрыхтаваць макет любога друкаванага, візуальнага або тактыльнага элемента.
                    </p>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-5 feature-box">
                    <i class="icon-printer icon"></i>
                    <h4>Макеты для друку</h4>
                    <p>
                        Фарматы:
                        PDF, SVG, PNG, RTF, DOC.
                    </p>
                </div>

                <div class="col-md-5 feature-box">
                    <i class="icon-docs icon"></i>
                    <h4>Брашуры, газеты, часопісы</h4>
                    <p>
                        Фарматы:
                        PDF, PNG, RTF, DOC.
                    </p>
                </div>

                <div class="col-md-5 feature-box">
                    <i class="icon-crop icon"></i>
                    <h4>Статычны банер</h4>
                    <p>
                        Фарматы:
                        GIF, PNG, SVG
                    </p>
                </div>

                <div class="col-md-5 feature-box">
                    <i class="icon-film icon"></i>
                    <h4>Дынамічны банер</h4>
                    <p>
                        JavaScript, HTML5, CSS3
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
