<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Продвижение в интернете</h5>
                <ul>
                    <li><a href="/ru/think-tech">Написать тех.задание</a></li>
                    <li><a href="/ru/order">Заказать</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h5>Про меня</h5>
                <ul>
                    <li><a href="/ru/about">Опыт</a></li>
                    <li><a href="/ru/contact">Контакты</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h5>Поддержка</h5>
                <ul>
{#                    <li><a href="/ru/faq">Частые вопросы</a></li>#}
                    <li><a href="/ru/contacts">Обращение</a></li>
                </ul>
            </div>

            <!--<div class="col-sm-3">
                <h5>Юрыдычны аспект</h5>
                <ul>
                    <li><a href="#">Публічная аферта</a></li>
                    <li><a href="#">Воблачнае сховішча</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>-->
        </div>

        <div class="legal-info row">
            <div class="col-md-8">
                <div class="d-flex d-inline-block align-items-center align-content-top">
                    {#<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" style="max-width: 48px">
                                <circle cx="64" cy="64" r="50" fill="#f8f9fa" stroke="#343a40" stroke-width="1" />
                                <text x="50%" y="50%" text-anchor="middle" dy=".3em" fill="#343a40" font-size="96" font-family="Brush Script MT" transform="rotate(90, 64, 64)">Ю</text>
                            </svg>#}

                    <div>
                        <p>
                            Не звоните мне. Пишите письма: <strong>i[at]juljan.by</strong>.
                        </p>
                        <p class="small">
                            Тут инфа для налоговой, можно не читать.
                            <br/>
                            Оказание услуг:
                            Мисюкевич Ю. В.,
                            <br/>
                            УНП НА6052430 (Беларусь).
                        </p>

                        <p class="small">
                            Оказание услуг по разработке веб-сайтов;
                            установка (настройка) компьютера, настройка программного обеспечения;
                            восстановление компьютера после сбоя в работе;
                            онлайн-обучение работе на компьютере.
                        </p>

{#                        <p class="small">#}
{#                            <strong>Время работы:</strong>#}
{#                            Пн-Сб: 00:00—02:00, 08:00-10:00, 19:00-23:30.#}
{#                        </p>#}
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-right">

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <p>Юльян.By &ndash; Web-разработка от SQL до JS.</p>
    </div>
</footer>
