<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Описание оплаты</h5>
                <ul>
                    <li>
                        <a href="/pay/erip">
                            Оплата через систему ЕРИП
                        </a>
                    </li>
                    <li>
                        <a href="/pay/methods">
                            Способы оплаты через сайт
                        </a>
                    </li>
                    <li>
                        <a href="/pay/refund">
                            Условия возврата денег
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h5>К заказу</h5>
                <ul>
                    <li><a href="/ru/think-tech">Написать тех.задание</a></li>
                    <li><a href="/ru/order">Заказать</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h5>Про меня</h5>
                <ul>
                    <li><a href="/ru/about">Опыт</a></li>
                    <li><a href="/ru/contact">Контакты</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h5>Поддержка</h5>
                <ul>
                    <li><a href="/ru/faq">Частые вопросы</a></li>
                    <li><a href="/ru/contacts">Обращение</a></li>
                </ul>
            </div>

            <!--<div class="col-sm-3">
                <h5>Юрыдычны аспект</h5>
                <ul>
                    <li><a href="#">Публічная аферта</a></li>
                    <li><a href="#">Воблачнае сховішча</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>-->
        </div>

        <div class="legal-info row">
            <div class="col-md-12">
                <div class="d-flex d-inline-block align-items-center align-content-top">
{#                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" style="max-width: 48px">#}
{#                        <circle cx="64" cy="64" r="50" fill="#f8f9fa" stroke="#343a40" stroke-width="1" />#}
{#                        <text x="50%" y="50%" text-anchor="middle" dy=".3em" fill="#343a40" font-size="96" font-family="Brush Script MT" transform="rotate(90, 64, 64)">Ю</text>#}
{#                    </svg>#}

                    <div class="b-legal">
                        <h5>Правовая информация</h5>

                        {% if (isHome|default(false)) %}
                            <p>
                                Ниже информация для налоговой (можно не читать).
                            </p>
                            <p class="small">
                                <strong>Тел.</strong>: +375<sup>29</sup>2186403 (лучше не звоните).
                                Пишите на: <strong>i@juljan.by</strong> (в теме письма обязательно укажите букву «ў», иначе письмо попадёт в спам).
                            </p>
                            <p class="small">
                                Адрес: Республика Беларусь, г. Лида, ул. Рыбиновского, 82
                            </p>
                        {% endif %}

                        <p class="small">
                            <strong>Вид деятельности:</strong>
                            Оказание услуг по разработке сайтов;
                            установка (настройка) компьютера, настройка программного обеспечения;
                            восстановление компьютера после сбоя;
                            онлайн компьютерное обучение.
                        </p>

                        <p class="small">
                            <strong>Время работы:</strong>
                            Пн-Пт: 19:30-22:30 (персонально).
                            Автоматизированный софт сайта — круглосуточно.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-right">

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <p>
                Юльян.By &ndash;
                Web-разработка от SQL до JS.
            </p>
            <p class="small text-left">
                УНП <strong>HA6052430</strong> |
                Мисюкевич Юльян Валерьевич |
                Дата постановки на учёт: 12.01.2023 |
                Беларусь.
            </p>
        </div>
    </div>
</footer>
