<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" hidden="hidden" style="display: none">
                <h5>Продвижение в интернете</h5>
                <ul>
                    <li><a href="/en/think-tech">Написать тех.задание</a></li>
                    <li><a href="/en/order">Заказать</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h5>About me</h5>
                <ul>
                    <li><a href="/en/about">Dev Experience</a></li>
                    <li><a href="/en/contact">Contact me</a></li>
                </ul>
            </div>

            <div class="col-sm-3" hidden="hidden" style="display: none">
                <h5>Падтрымка</h5>
                <ul>
                    <li><a href="/en/faq">FAQ</a></li>
                    <li><a href="/en/contacts">Обращение</a></li>
                </ul>
            </div>

            <!--<div class="col-sm-3">
                <h5>Юрыдычны аспект</h5>
                <ul>
                    <li><a href="#">Публічная аферта</a></li>
                    <li><a href="#">Воблачнае сховішча</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>-->
        </div>

        <div class="legal-info row">
            <div class="col-md-8">
                <div class="d-flex d-inline-block align-items-center align-content-top">
                    {#<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" style="max-width: 48px">
                                <circle cx="64" cy="64" r="50" fill="#f8f9fa" stroke="#343a40" stroke-width="1" />
                                <text x="50%" y="50%" text-anchor="middle" dy=".3em" fill="#343a40" font-size="96" font-family="Brush Script MT" transform="rotate(90, 64, 64)">Ю</text>
                            </svg>#}

                    <div>
                        <p>
                            Don't call me. Use email please: <strong>i[at]juljan.by</strong>.
                        </p>
                        <p class="small">
                            Below is information for the tax office of my country,
                            you don’t have to read it.
                            <br/>
                            Provision of services:
                            self-employed individual:
                            Misiukevich Y.
                            <br/>
                            TIN (in Belarus): НА6052430
                        </p>

{#                        <p class="small">#}
{#                            <strong>Working hours:</strong>#}
{#                            Mon-Sat: 00:00—02:00, 08:00-10:00, 19:00-23:30.#}
{#                        </p>#}
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-right">

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <p>Juljan.By &ndash; Code-driven Web Development Excellence.</p>
    </div>
</footer>
