{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.prices'|trans }}
{% endblock %}

{% block body %}
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Пра сайт</h2>
                    <p>
                        Гэты сайт ёсць хатняй старонкай маіх фрыланс-праектаў,
                        старонак-дапаможнікаў для саброўскіх праектаў
                        і нейкай унутранай статыстыкі.




                    </p>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="lead">
                            Я маю асноўную працу і не маю шмат часу на новыя вялікія праекты.
                            Але люблю творчыя праекты, няагож многія з іх вымагаюць усяго некалькі гадзін працы.
                            Напрыклад: распрацоўваць дынамічныя прыгожыя анімацыі, якія часта называюць банерамі.
                        </p>
                        <p>
                            Магу дапамагчы падрыхтаваць макет любога друкаванага, візуальнага або тактыльнага элемента.
                        </p>
                        <p>
                            Не займаюся SEO-прасоўваннем, рэкламай, крыплавалютамі і махлярствам.
                            Пішыце тэксты для сайта, памятайце пра фіятныя грошы, працуйце сумленна
                            &ndash;
                            і будзе вам шчасце.
                        </p>
                    </div>
                </div>

            </div>
        </section>
    </main>
{% endblock %}
