{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.contacts'|trans }}
{% endblock %}

{% block body %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 id="title" class="text-info">Кантакты</h2>
                    <p>Мая пошта: <a href="mailto:site@juljan.by">site@juljan.by</a>.</p>
                    <br>
                    <p>
                        Калі Вы вырашылі аформіць замову або маеце пытанне,
                        можаце напісаць мне на пошту або наўпрост запоўніць форму ніжэй.
                    </p>
                </div>

                <form method="POST">
                    {{ form(form) }}
                </form>
            </div>
        </section>
    </main>
{% endblock %}
