{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.services'|trans }}
{% endblock %}

{% block body %}
<main class="page">
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Дзякуй</h2>
                <p class="lead">
                    Вашае паведамленне адпраўлена.
                </p>
                <p>
                    Праз нейкі час я прачытаю яго.
                </p>
            </div>

            <div class="row justify-content-center">
                <div class="col">
                    <h2>Памятайце таксама</h2>
                    <p>
                        Многія праблемы знікаюць самі па сабе, калі нічога не рабіць.
                    </p>
                </div>
            </div>

        </div>
    </section>
</main>
{% endblock %}
