{% extends 'base.html.twig' %}

{% block title %}Галоўная{% endblock %}
{% block javascripts %}
    <script async defer src="/assets/js/home.js"></script>
{% endblock %}

{% block body %}
<main class="page landing-page">
    <section class="clean-block clean-hero">
        <div class="text">
            <h2>Web — наш хлеб</h2>
            <p>
                Продаю и дорабатываю собственные типовые и уже готовые решения, накопленные за 15 лет разработки.
            </p>
            <a href="/be/services" class="btn btn-outline-light btn-lg">Услуги</a>
            <a href="/be/prices" class="btn btn-outline-light btn-lg">Цены</a>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col-md-4 feature-box">
                    <i class="icon-refresh icon"></i>
                    <h3>Проверить сайт</h3>
                    <p>
                        Если Ваш проект у меня на <strong>страховке</strong>, вы можете проверить здоровье сайта по ссылке ниже
                    </p>

                    <a href="/{{ lang }}/contacts?subject=insurance" class="w-100 btn btn-lg btn-outline-primary">
                        Страховка сайта
                    </a>
                </div>

                <div class="col-md-4 feature-box">
                    <i class="icon-diamond icon"></i>
                    <h3>Оплатить</h3>
                    <p>
                        Оплатить за уже сделанные работы по услуге (или по акту выполненных работ и скачать его) можно ниже.
                    </p>

                    <a href="/{{ lang }}/contacts?subject=insurance" class="w-100 btn btn-lg btn-outline-primary">
                        Оплатить
                    </a>
                </div>

                <div class="col-md-4 feature-box">
                    <i class="icon-question icon"></i>
                    <h3>Только спросить</h3>
                    <p>
                        Можно без очереди.
                        Для оценки стоимости проекта или получения консультации перейдите по ссылке ниже
                    </p>

                    <a href="/{{ lang }}/contacts?subject=insurance" class="w-100 btn btn-lg btn-outline-primary">
                        Задать вопрос
                    </a>
                </div>
            </div>

{#            <div class="row">#}
{#                <div class="col">#}
{#                    <h3>А также</h3>#}
{#                    <ul>#}
{#                        <li>#}
{#                            Образовательный курс обучения web-разработке (на примере языка PHP)#}
{#                        </li>#}
{#                        <li>#}
{#                            Помогаторы: преобразование текста, фото, видео#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
        </div>
    </section>

    <section class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">
                    Анімаваныя банеры
                </h2>
                <p>
                    У свеце існуе мноства мабільных прыладаў.<br/>
                    Давайце рабіць акцэнт на адаптыўнасць і кросплатформенасць!<br/>
                </p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <canvas id="jPromo" width="540" height="250"></canvas>
                    <p class="text-muted">
                        <em>Колькасць малюнкаў: 0.</em><br/>
                        <em>Колькасць шрыфтоў: 1.</em>
                    </p>
                </div>
                <div class="col-md-6">
                    <h3>Матэматычна разлічаная анімацыя замест пакадравай</h3>
                    <div class="getting-started-info">
                        <p>
                            Замест статычнага малюнку або пакадравай анімацыі (*.gif)
                            мы прапаноўваем дынамічны (Html5, Javascript-based) банер,
                            дзе анімацыю выконваюць матэматычныя функцыі.
                        </p>
                    </div>
                    <a href="/be/samples" class="btn btn-outline-primary btn-lg">Прыклады</a>
                </div>
            </div>
        </div>
    </section>

    <section class="clean-block features" hidden="hidden" style="display:none">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Перавагі жулжан-анімацыі</h2>
                <p>
                    Дынамічная тэхналогія распрацоўкі жывых анімацый выглядае больш гладка
                    і дазваляе рэалізаваць большую колькасць графічных эфектаў,
                    якія з'яўляюцца запраграмаванымі, а не намаляванымі,
                    што часта скарачае аб'ём дадзеных.
                </p>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-energy icon"></i>
                    <h4>Хуткая загрузка файлаў невялікага памеру</h4>
                    <p>
                        Часта ў анімацыі захоўваецца кожны кадр (*.gif),
                        або змены наступнага кадра ад папярэдняга,
                        гэта павялічвае зыходны памер файла і запавольвае загрузку ўсёй старонкі сайта для кліента.
                        Апроч таго, гэта дадаткова нагружае ваш сервер (калі маеце вялікую наведвальнасць і не маеце кэша).
                        <br/>
                        <br/>

                        У выпадку <strong>жулжан</strong>-анімацыі
                        - усе дынамічныя элементы прапісаны ў матэматычным кодзе, які хутка грузіцца кліенту.
                    </p>
                </div>

                <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                    <h4>Лёгкасць рэдагавання</h4>
                    <p>
                        Такі падыход дазваляе дынамічна падгружаць любы тэкст у банер,
                        не адкрываючы графічны рэдактар і не звяртаючыся да мастака.
                        <br/>
                        <br/>

                        Такім чынам, лёгка можна адлюстраваць у самім <strong>жулжан</strong>-банеры
                        назву катэгорыі або імя аўтарызаванага карыстальніка.
                        Гэта зробіць старонку больш персаналізаванай.
                        У Вас будзе адзіны зыходны файл для ўсіх катэгорый і ўсіх карыстальнікаў.
                    </p>
                </div>

                <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                    <h4>Гнуткасць і адаптыўнасць</h4>
                    <p>
                        На статычных малюнак аніяк немагчыма прадугледзець розныя паводзіны для розных дэвайсаў.
                        <br/>
                        <br/>

                        <strong>Жулжан</strong>-анімацыя можа выглядаць па-рознаму для планшэта, смартфона і кампутара.
                        А таксама можа рэагаваць на націскі клавіятуры або рухі мышкаю.
                    </p>
                </div>

                <div class="col-md-5 feature-box"><i class="icon-cloud-upload icon"></i>
                    <h4>Больш магчымасцяў</h4>
                    <p>
                        Анімацыя ў JavaScript можа даваць больш магчымасцяў для стварэння складаных эфектаў і візуальных
                        элементаў, якія могуць быць цяжка ці немагчыма стварыць з дапамогай статычных банэраў.
                        <br/>
                        <br/>
                        Напрыклад, вы можаце ствараць складаныя аніміраваныя пераходы паміж старонкамі, выкарыстоўваць
                        3D-эфекты і шматлікае іншае.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
