{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.samples'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <main class="page">
        <section class="clean-block dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Написание технического задания</h2>
                </div>

                <div>
                    <p>
                        Тэхнічнае заданне (ТЗ) з'яўляецца ключовым дакументам пры распрацоўцы вэб-прыкладанняў. Яно
                        вызначае мэты, патрабаванні і функцыянальнасць праекта, а таксама служыць асновай для
                        камунікацыі паміж замоўнікам і вэб-распрацоўшчыкамі. Якасна складзенае ТЗ скарачае магчымыя
                        памылкі, упрашчае і дазваляе захаваць каштоўнасць працэсу распрацоўкі і забяспечвае дасягненне
                        жаданага выніку.
                    </p>

                    <h3>1. Апісанне мэты праекта</h3>
                    <p>
                        Першы крок пры напісанні ТЗ - вызначыць мэты і задачы праекта. Чаткае разуменне таго, што
                        павінна быць дасягнута з дапамогай распрацаванага вэб-прыкладання, дапамагае скасаваць увагу на
                        неабходных функцыях і патрабаваннях і зьмяншае час на бесьпамылковыя размовы, а таксама выклікае
                        зайвыя зразумеласьці ў выпадку нязгод.
                    </p>

                    <h3>2. Апісанне функцыянальнасці</h3>
                    <p>
                        У ТЗ неабходна апісаць функцыянальнасць праекта. Жадана дэтальна, але Вы ўжо глядзіце, як
                        атрымаецца. Якія дзеянні зможа выконваць карыстальнік, якія дадзеныя будуць апрацоўвацца, якія
                        модулі і функцыі павінны быць рэалізаваныя. Важна ўлічваць усе патрабаванні замоўніка і
                        прадугледзець магчымасць пашырэння функцыяналу ў будучыні.
                    </p>

                    <h3>3. Тэхнічныя патрабаванні</h3>
                    <p>
                        Апішыце, дзе павінна працаваць ваша прыкладанне: на мабільным прыладзе, браўзэры або, можа,
                        толькі на КПК. Калі можаце, укажыце выкарыстаныя тэхналогіі, мовы праграмавання, базы дадзеных і
                        іншыя інструменты, але гэта ўжо апцыянальна. Таксама варта ўлічваць патрабаванні да бяспекі,
                        прадукцыйнасці, маштабаванасці і сумяшчальнасці з рознымі плятформамі.
                    </p>

                    <h3>4. Дызайн і інтэрфейс карыстальніка</h3>
                    <p>
                        Вэб-дадатак павінна быць прывабным і зручным у выкарыстанні.
                        У ТЗ пажадана апісаць патрабаванні да дызайну, у тым ліку каляровую схему, кампаноўку элементаў і агульны стыль.
                        Таксама неабходна вызначыць патрабаванні да адаптыўнасці і мабільнай версіі прыкладання.
                        Або скажыце, што Вам лянота думаць і я сам зраблю.
                    </p>

                    <h3>5. Тэставанне і адладка</h3>
                    <p>
                        Для забеспячэння якасці разработкі, ТЗ павінна ўключаць патрабаванні да тэставання і адладкі.
                        Вызначце, якія тэсты павінны быць праведзеныя для праверкі функцыянальнасці і правільнасці працы
                        прыкладання. Таксама не забудзьце паказаць патрабаванні да абработкі памылак і рэгістрацыі
                        памылак.
                    </p>

                    <h3>6. Тэрміны і бюджэт</h3>
                    <p>
                        Укажыце патрабаваныя тэрміны завяршэння і размясціце задачы па этапах разработкі. Таксама
                        разгледзіце фінансавыя пытанні і пакажыце прадпалягаемую стацю разработкі.
                    </p>

                    <p class="text-center">
                        * * * *
                    </p>

                    <p>
                        Калі ў Вас у галаве нешта складаней сайта-візітоўкі/блога, то
                        складанне тэхнічнага задання &ndash; можа быць складаным і адказным працэсам,
                        які патрабуе ўвагі да дэталяў і разумення Вашых патрабаванняў.
                        Якасна выкананае ТЗ дапамагае пазбегнуць непаразуменняў, паскорыць распрацоўку і дасягнуць поспеху праекта.
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
