{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.samples'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <main class="page">
        <section class="clean-block dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Написание технического задания</h2>
                </div>

                <div>
                    <p>
                        Техническое задание (ТЗ) является ключевым документом при разработке веб-приложений.
                        Оно определяет цели, требования и функциональность проекта,
                        а также служит основой для коммуникации между заказчиком и веб-разработчиками.
                        Качественно составленное ТЗ сокращает возможные ошибки, упрощает и удешевляет процесс разработки
                        и обеспечивает достижение желаемого результата.
                    </p>

                    <h3>1. Определение целей проекта</h3>
                    <p>
                        Первый шаг при написании ТЗ &ndash; определить цели и задачи проекта.
                        Чёткое понимание того, что должно быть достигнуто с помощью разрабатываемого веб-приложения,
                        помогает сосредоточиться на необходимых функциях и требованиях и уменьшает время на бессмысленные
                        разговоры, а также ликвидирует ненужные выяснения отошений в случае разночтений.
                    </p>

                    <h3>2. Описание функциональности</h3>
                    <p>
                        В ТЗ необходимо описать функциональность проекта. Желательно подробно, но Вы уже смотрите, как получится.
                        Какие действия сможет выполнять пользователь, какие данные будут обрабатываться, какие модули и функции должны быть реализованы. Важно учесть все требования заказчика и предусмотреть возможность расширения функционала в будущем.
                    </p>

                    <h3>3. Технические требования</h3>
                    <p>
                        Опишите, где должно работать ваше приложение: на мобильном устройстве, браузере или, может, только на ПК.
                        Если можете, укажите используемые технологии, языки программирования, базы данных и другие инструменты, но это уже опционально.
                        Также стоит учесть требования к безопасности, производительности, масштабируемости и совместимости с различными платформами.
                    </p>

                    <h3>4. Дизайн и пользовательский интерфейс</h3>
                    <p>
                        Веб-приложение должно быть привлекательным и удобным в использовании.
                        В ТЗ желательно описать требования к дизайну, включая цветовую схему, компоновку элементов и общий стиль.
                        Также необходимо определить требования к адаптивности и мобильной версии приложения.
                        Или скажите, что Вам лень думать и я сам сделаю.
                    </p>

                    <h3>5. Тестирование и отладка</h3>
                    <p>
                        Чтобы обеспечить качество разработки, ТЗ должно содержать требования к тестированию и отладке.
                        Определите, какие тесты должны быть выполнены для проверки функциональности и
                        корректности работы приложения.
                        Также не забудьте указать требования к обработке ошибок и логированию.
                    </p>

                    <h3>6. Сроки и бюджет</h3>
                    <p>
                        Укажите желаемые сроки завершения и распределите задачи по этапам разработки.
                        Также обдумайте финансовые вопросы и укажите предполагаемую стоимость разработки.
                    </p>

                    <p class="text-center">
                        * * * *
                    </p>

                    <p>
                        Если у Вас на уме что-то сложнее сайта-визитки/блога, то
                        составление технического задания &ndash; может быть сложным и ответственным процессом,
                        который требует внимания к деталям и понимания Ваших требований.
                        Качественно выполненное ТЗ помогает избежать недоразумений, ускорить разработку и достичь успеха проекта.
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
