{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.prices'|trans }}
{% endblock %}

{% block body %}
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Про меня</h2>
                    <p>
                        В меру занудный web-разработчик, не дизайнер, но люблю находить косяки в дизайне и исправлять их,
                        если мне позволяют.
                    </p>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="lead">
                            Занимаюсь разработкой сайтов: от разворачивания инфраструкуры на хостинге (LAMP-сервер обычно)
                            до оптимизации загрузки front-end элементов (скорость, сжатие, Lighthouse-проверки).
                            Люблю создавать динамические красивые анимации, которые часто называют баннерами.
                        </p>
                        <p>
                            Есть опыт разработки разных баннеров и рекламной продукции.
                            Могу помочь с подготовкой любого печатного, визуального либо тактильного элемента.
                        </p>
                        <p>
                            Не занимаюсь SEO-продвижением, крипто-валютами и мошенничеством.
                            Пишите тексты для сайта, помните про фиатные деньги, работайте честно
                            &ndash;
                            и будет вам счастье.
                        </p>

                        <h2>Почему анимация</h2>
                        <p>
                            У всех нас времени не так много. Создание сайта может занять от 150 человеко-часов до нескольки тысяч.
                            А анимированный баннер можно сделать за несколько вечеров силами одного человека!

                            Мне это интересно. Многие web-ресурсы не используют современные возможности браузеров и как
                            10-20 лет назад заказывают баннеры в виде изображений. Такой подход не всегда качественный и красивый.
                            Я обычно берусь за современный адаптивный баннер на основе JS/HTML/CSS-кода.
                        </p>
                    </div>
                </div>
            </div>

        </section>
    </main>
{% endblock %}
