{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.prices'|trans }}
{% endblock %}

{% block body %}
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Пра нас</h2>
                    <p>
                        Супольнасць web-распрацоўшчыкаў і дызайнераў.
                        Любім распрацоўваць дынамічныя прыгожыя анімацыі, якія часта называюць банерамі.
                        <br>
                        <br>

                        Маем досвед стварэння розных банераў і рэкламнай прадукцыі.
                        Бо робім рэкламныя элементы даўно.
                        Займаемся вырабам электронных макетаў рэкламнай прадукцыі.
                        <br>
                        <br>

                        Ажыццяўляем індывідуальны падыход.
                        Можам падрыхтаваць макет любога друкаванага, візуальнага або тактыльнага элемента.
                    </p>
                </div>

                <div class="row">
                    <div class="col">
                        <h2>Жулжан-анімацыя</h2>
                        <p>
                            Не новае слова ў web-свеце.
                            Гэта не рэвалюцыйны падыход, але звычайны (нават часам банальны) JS/HTML/CSS-код.
                            Але па досведу ведаем, што многія рэсурсы не выкарыстоўваюць сучасныя магчымасці браўзераў,
                            і як ў 10 або 20 гадоў таму замаўляюць банеры ў выглядзе малюнкаў.
                            Такі падыход састарэлы, сумны і малацікавы.
                        </p>

                        <p>
                            Нам жа падабаецца цікавая творчая праца,
                            падабаецца анімацыя і мы пералічылі (на галоўнай старонцы) перавагі такога падыходу.
                            Каб прыцягнуць Вашую ўвагу мы назвалі гэта словам
                            <strong>жулжан</strong>,
                            у якім, на нашу думку,
                            аліквотным <sup>*</sup>
                            абертонам гучаць тэрміны
                            Javascript і Online.
                        </p>

                        <p class="text-muted">
                            <em>
                                <sup>*</sup> Аліквота – (даслоўна: «некалькі разоў»)
                                тэрмін звычайна ужываецца для дробаў у матэматыцы і абертонаў у музыцы.
                                А ў нас – у апісанні анімацыі.
                                <em>
                                </em></em></p><em><em>
                            </em></em>
                    </div>
                    <em><em>
                        </em></em>
                </div>
                <em><em>
                    </em></em>
            </div>
            <em><em>
                </em></em>
        </section>
        <em><em>
            </em></em>
    </main>
{% endblock %}
