{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.contacts'|trans }}
{% endblock %}

{% block body %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 id="title" class="text-info">Кантакты</h2>
                    <p>Нашая пошта: <a href="mailto:we@juljan.by">we@juljan.by</a>.</p>
                    <br>
                    <p>
                        Калі Вы вырашылі аформіць замову або маеце пытанне,
                        можаце напісаць нам на пошту або наўпрост запоўніць форму ніжэй.
                    </p>
                </div>

                <form id="contact" action="/contact.php" method="post" data-success="Дзякуй! Вашае паведамленне адпраўлена.">
                    <input id="fuck-off" type="hidden" name="fuck-off-spam" value="67d7a9b749229a2fb2812726c516bf460caf92a6">
                    <input type="hidden" name="sender" value="form">
                    <div class="form-group"><label>Вашае Імя</label><input class="form-control" name="name" autocomplete="name" type="text"></div>
                    <div class="form-group"><label>Тэма</label><input id="subject" class="form-control" name="subject" type="text"></div>
                    <div class="form-group"><label>Ваш Email</label><input class="form-control" name="email" autocomplete="email" type="text"><div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
                    <div class="form-group"><label>Паведамленнне</label><textarea name="msg" class="form-control"></textarea></div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Даслаць">
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
