{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.examples'|trans }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/examples.css"/>
{% endblock %}

{% block body %}
    <main class="page examples-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Прыклады</h2>
                    <p>
                        Тут вы можаце пабачыць асобныя прыклады банероў з жулжан-анімацыяй.
                    </p>
                </div>

                <div class="examples text-center">
                    <h4>Sin(x) як дапаможнік гладкіх рухаў тэкста</h4>
                    <a href="http://kroplia.by">
                        <canvas id="jKroplia" class="loaded" width="468" height="60"></canvas>
                    </a>
                    <br>
                    <br>
                    <br>

                    <h4>Рух аб'екта (кенгуру) па крывой Безье</h4>
                    <canvas id="jGame01" class="loaded" width="600" height="400"></canvas>
                    <br>
                    <br>
                    <br>

                    <h4>Звыродная траекторыя фігуры Лісаджу (рух лагатыпа)</h4>
                    <a href="http://cesliary.by">
                        <canvas id="jCesliary" class="loaded" width="600" height="120"></canvas>
                    </a>
                    <br>
                    <br>
                    <br>

                    <h4>Змяненне хуткасці пры перасячэнні</h4>
                    <a href="http://pobeditel.by">
                        <canvas id="jPob" class="loaded" width="468" height="60"></canvas>
                    </a>
                    <br>
                    <br>
                    <br>

                    <h4>Магічныя часцінкі</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="http://magiclab.by/">
                                <div id="sparks">
                                    <h6>Лабораторная магия медицинского назначения</h6>
                                    <div class="spark" style="visibility: inherit; opacity: 0.391578; transform: translate3d(166.119px, 37.1776px, 0px) scale(0.309122, 0.600393);"></div><div class="spark" style="visibility: inherit; opacity: 0.796338; transform: translate3d(406.754px, 74.3148px, 0px) scale(0.717899, 0.763795);"></div><div class="spark" style="visibility: inherit; opacity: 0.480168; transform: translate3d(509.304px, 39.4669px, 0px) scale(0.44848, 0.593354);"></div><div class="spark" style="visibility: hidden; opacity: 0.144027; transform: matrix(0.624785, 0, 0, 1.21461, 334.511, 51.3679);"></div><div class="spark" style="visibility: hidden; opacity: 0.256115; transform: matrix(0.476667, 0, 0, 1.71556, 315.395, 57.9031);"></div><div class="spark" style="visibility: inherit; opacity: 0.409538; transform: translate3d(369.278px, 28.1893px, 0px) scale(0.267964, 0.920492);"></div><div class="spark" style="visibility: hidden; opacity: 0.105428; transform: matrix(0.353081, 0, 0, 1.16858, 322.277, 24.7074);"></div><div class="spark" style="visibility: inherit; opacity: 0.746932; transform: translate3d(518.907px, 60.3428px, 0px) scale(0.516236, 0.6249);"></div><div class="spark" style="visibility: inherit; opacity: 0.513154; transform: translate3d(-24.4138px, -102.37px, 0px) scale(0.71863);"></div><div class="spark" style="visibility: inherit; opacity: 0.640853; transform: translate3d(381.453px, 47.1689px, 0px) scale(0.756748, 0.90655);"></div><div class="spark" style="visibility: inherit; opacity: 0.206691; transform: translate3d(274.302px, 20.7253px, 0px) scale(0.533278, 1.46492);"></div><div class="spark" style="visibility: inherit; opacity: 0.502481; transform: translate3d(236.129px, -25.3901px, 0px) scale(0.675029);"></div><div class="spark" style="visibility: hidden; opacity: 0.325312; transform: matrix(0.939686, 0, 0, 1.9246, 333.937, 48.2064);"></div><div class="spark" style="visibility: inherit; opacity: 0.537962; transform: translate3d(169.81px, 68.4994px, 0px) scale(0.349695);"></div><div class="spark" style="visibility: hidden; opacity: 0.223651; transform: matrix(0.873851, 0, 0, 1.81109, 326.393, 12.5549);"></div><div class="spark" style="visibility: inherit; opacity: 0.890531; transform: translate3d(396.575px, 23.3286px, 0px) scale(0.252111);"></div><div class="spark" style="visibility: inherit; opacity: 0.77537; transform: translate3d(162.097px, -42.5056px, 0px) scale(0.361287);"></div><div class="spark" style="visibility: inherit; opacity: 0.564117; transform: translate3d(280.4px, -106.467px, 0px) scale(0.346382);"></div><div class="spark" style="visibility: inherit; opacity: 0.679514; transform: translate3d(164.661px, 50.8986px, 0px) scale(0.60227);"></div><div class="spark" style="visibility: inherit; opacity: 0.383483; transform: translate3d(402.306px, 40.9001px, 0px) scale(0.582423, 0.928571);"></div><div class="spark" style="visibility: inherit; opacity: 0.841766; transform: translate3d(288.141px, 74.6294px, 0px) scale(0.460331);"></div><div class="spark" style="visibility: inherit; opacity: 0.737829; transform: translate3d(423.967px, 44.0537px, 0px) scale(0.298247);"></div><div class="spark" style="visibility: hidden; opacity: 0.386955; transform: matrix(0.515291, 0, 0, 1.64351, 337.734, 59.1041);"></div><div class="spark" style="visibility: inherit; opacity: 0.482935; transform: translate3d(530.877px, 41.2436px, 0px) scale(0.724936, 0.857736);"></div><div class="spark" style="visibility: inherit; opacity: 0.548613; transform: translate3d(485.253px, 33.7997px, 0px) scale(0.222887, 0.650736);"></div><div class="spark" style="visibility: inherit; opacity: 0.642871; transform: translate3d(268.005px, 64.0444px, 0px) scale(0.505465, 0.712791);"></div><div class="spark" style="visibility: inherit; opacity: 0.786845; transform: translate3d(379.801px, 69.2024px, 0px) scale(0.462565);"></div><div class="spark" style="visibility: inherit; opacity: 0.509682; transform: translate3d(340.126px, 46.8756px, 0px) scale(0.356545, 1.00546);"></div><div class="spark" style="visibility: inherit; opacity: 0.421958; transform: translate3d(244.767px, 11.3035px, 0px) scale(0.326172, 1.162);"></div><div class="spark" style="visibility: hidden; opacity: 0.24621; transform: matrix(0.783776, 0, 0, 1.50803, 332.81, 51.01);"></div><div class="spark" style="visibility: hidden; opacity: 0.38467; transform: matrix(0.625443, 0, 0, 1.25976, 331.745, 13.1254);"></div><div class="spark" style="visibility: inherit; opacity: 0.500615; transform: translate3d(231.897px, 66.4963px, 0px) scale(0.758191, 0.856922);"></div><div class="spark" style="visibility: inherit; opacity: 0.472548; transform: translate3d(148.194px, 54.5001px, 0px) scale(0.566533, 0.702612);"></div><div class="spark" style="visibility: inherit; opacity: 0.905528; transform: translate3d(432.744px, 77.3201px, 0px) scale(0.737393, 0.787245);"></div><div class="spark" style="visibility: hidden; opacity: 0.38322; transform: matrix(0.405539, 0, 0, 1.86983, 336.02, 19.5227);"></div><div class="spark" style="visibility: inherit; opacity: 0.528184; transform: translate3d(369.938px, 39.8765px, 0px) scale(0.349958, 0.865525);"></div><div class="spark" style="visibility: hidden; opacity: 0.116173; transform: matrix(0.714438, 0, 0, 1.04012, 310.667, 38.9197);"></div><div class="spark" style="visibility: inherit; opacity: 0.650414; transform: translate3d(419.343px, 40.791px, 0px) scale(0.767732, 0.880591);"></div><div class="spark" style="visibility: inherit; opacity: 0.239943; transform: translate3d(420.497px, 16.8965px, 0px) scale(0.30846, 1.2254);"></div><div class="spark" style="visibility: hidden; opacity: 0.260139; transform: matrix(0.710401, 0, 0, 1.13164, 330.341, 39.8848);"></div></div>
                            </a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>

                    <h4>Графік статыстычных дадзеных</h4>
                    <div class="row">
                        <div class="col-12">
                            <img src="/jb/kniha_votes.png" class="img-fluid">
                            <p>
                                <em>Прадэманстраваны статычны скрыншот як прыклад.</em>.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://code.createjs.com/1.0.0/preloadjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/EaselJS/1.0.2/easeljs.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>

    <script src="/jb/jGame01/kangaroo.js"></script>
    <script src="/jb/magiclab/sparks.js"></script>

    <script>
        if ('undefined' === typeof getRandomInt) {
            function getRandomInt(max) {
                return Math.floor(Math.random() * Math.floor(max));
            }
        }

        function jRetinsCanvas(canvas, w, h) {
            var ratio = window.devicePixelRatio || 1;
            canvas.width = w * ratio;
            canvas.height = h * ratio;
            canvas.style.width = w + "px";
            canvas.style.height = h + "px";
        }

        function jRetinaStage(stage) {
            var ratio = window.devicePixelRatio || 1;
            stage.scaleX = ratio;
            stage.scaleY = ratio;
        }



        (function jKroplia() {
            let stage, w, h, loader;

            function init() {
                stage = new createjs.Stage("jKroplia");
                stage.canvas.className = 'loading';
                w = stage.canvas.width;
                h = stage.canvas.height;

                loader = new createjs.LoadQueue(false);
                loader.addEventListener("complete", resReady);
                loader.loadManifest(
                    [
                        {id: "logo", src: "logo.png"},
                        {id: "waves1", src: "waves1.png"}
                    ],
                    true,
                    '/jb/kroplia/'
                );
            }

            function resReady() {
                stage.canvas.className = 'loaded';
                let
                    imgWaves1 = loader.getResult('waves1'),
                    imgLogo = loader.getResult('logo'),

                    theWord = [],
                    theWaves1,
                    theWaves2,
                    theSky,
                    theLogo,

                    wordObj = 0,
                    wordY = 0,
                    wordHeight = 42;

                theSky = new createjs.Shape();
                theSky.graphics.beginLinearGradientFill(["#b9e6f3", "#e2eff2"], [1, 0], 0, h, w, 0).drawRect(0, 0, w, h);
                theSky.cache(0, 0, w, h);


                theWaves1 = new createjs.Shape();
                theWaves1.graphics.beginBitmapFill(imgWaves1).drawRect(0, 0, w + imgWaves1.width, imgWaves1.height);
                theWaves1.tileW = imgWaves1.width;
                theWaves1.y = h - imgWaves1.height + 33;
                theWaves1.cache(0, 0, w + imgWaves1.width, imgWaves1.height);


                theWaves2 = new createjs.Shape();
                theWaves2.graphics.beginBitmapFill(imgWaves1).drawRect(0 - imgWaves1.width, 0, w + imgWaves1.width, imgWaves1.height);
                theWaves2.tileW = imgWaves1.width;
                theWaves2.y = h - imgWaves1.height + 33;
                theWaves2.cache(0 - imgWaves1.width, 0, w + imgWaves1.width, imgWaves1.height);


                theLogo = new createjs.Bitmap(imgLogo);
                theLogo.x = 10;
                theLogo.y = 4;

                stage.addChild(theSky, theWaves1, theWaves2, theLogo);

                theWord = [
                    new createjs.Text("ВЫШЫВАНКІ", "40px Tahoma, serif", "#009ff9"),
                    new createjs.Text("ЦІШОТКІ", "40px Tahoma, serif", "#009ff9"),
                    new createjs.Text("СУВЕНІРЫ", "40px Tahoma, serif", "#009ff9"),
                    new createjs.Text("ПАШТОЎКІ", "40px Tahoma, serif", "#009ff9"),
                    new createjs.Text("ДЫСКІ", "40px Tahoma, serif", "#009ff9")
                ];
                theWord.forEach(function(text) {
                    text.x = 335;
                    text.y = wordY - wordHeight;
                    text.textAlign = 'center';
                    text.textBaseline = "alphabetic";
                    stage.addChild(text);
                });

                createjs.Ticker.addEventListener("tick", handleTick);
                function handleTick(event) {
                    var deltaS = event.delta / 1000,
                        koef = 3 + 57*Math.abs(Math.sin(Math.PI*(3/4-wordY/h)));

                    // waves
                    theWaves1.x = (theWaves1.x - deltaS * 15) % theWaves1.tileW;
                    theWaves2.x = (theWaves2.x + deltaS * 5) % theWaves2.tileW;

                    // promo word
                    wordY = (wordY + deltaS * koef);
                    if (wordY > h + wordHeight) {
                        theWord[wordObj].y = -100;
                        wordY = 0;
                        wordObj = (wordObj + 1) % theWord.length;
                    }
                    theWord[wordObj].y = wordY;

                    stage.update();
                }
            }

            init();
        })();




        (function jCesliary() {
            var stage, w, h, loader;

            function init() {
                stage = new createjs.Stage("jCesliary");
                stage.canvas.className = 'loading';
                w = stage.canvas.width;
                h = stage.canvas.height;

                loader = new createjs.LoadQueue(false);
                loader.addEventListener("complete", resReady);
                loader.loadManifest(
                    [
                        {id: "logo", src: "logo.png"}
                    ],
                    true,
                    '/jb/cesliary/'
                );
            }

            function resReady() {
                stage.canvas.className = 'loaded';
                var
                    logoX,
                    logoY,
                    imgLogo = loader.getResult('logo'),
                    theTxtWhite = new createjs.Text("ШАФЫ  /  КУХНІ  /  СТЭЛАЖЫ ", "16px/18px Oswald, serif", "#fff"),
                    theTxtDark = new createjs.Text("ШАФЫ  /  КУХНІ  /  СТЭЛАЖЫ ", "16px/18px Oswald, serif", "#444"),
                    theSky,
                    theLogo;


                theSky = new createjs.Shape();
                theSky.graphics.beginRadialGradientFill(["#687c8a","#687c8a"], [0, 1], w/2, h/2, 90, 210, 110, 90).drawCircle(w/2, h/2, 500);


                theTxtWhite.x = 50;
                theTxtWhite.y = 95;
                theTxtDark.y = theTxtWhite.y + 1;


                theLogo = new createjs.Bitmap(imgLogo);
                logoX = (w - theLogo.getBounds().width)/2 + 25;
                logoY = (h - theLogo.getBounds().height)/2 - 15;

                stage.addChild(theSky, theLogo, theTxtDark, theTxtWhite);

                var i = 0, textStep = 1, shadowOffset = 1, shadowStep = 0.05;

                createjs.Ticker.addEventListener("tick", handleTick);
                function handleTick(event) {
                    var deltaS = event.delta / 1000;
                    i = (i + deltaS*420) % 720;

                    theLogo.x = logoX + 9*Math.sin(Math.PI*i/360);
                    theLogo.y = logoY + 7*Math.cos(2*Math.PI*i/360);

                    if (shadowOffset > 3 || shadowOffset < 1) {
                        shadowStep = -1 * shadowStep;
                    }
                    shadowOffset += shadowStep;

                    theTxtWhite.x += textStep;
                    theTxtDark.x = theTxtWhite.x + shadowOffset;

                    if (theTxtWhite.x < 50 || theTxtWhite.x > 160) {
                        textStep = -1 * textStep; // toggle direction
                    }

                    stage.update();
                }
            }

            init();
        })();


        (function jPob() {
            var stage, w, h, loader;

            function init() {
                stage = new createjs.Stage("jPob");
                stage.canvas.className = 'loading';
                w = stage.canvas.width;
                h = stage.canvas.height;

                loader = new createjs.LoadQueue(false);
                loader.addEventListener("complete", resReady);
                loader.loadManifest(
                    [
                        {id: "logo", src: "logo.png"}
                    ],
                    true,
                    '/jb/pob/'
                );
            }

            function resReady() {
                stage.canvas.className = 'loaded';
                var
                    imgLogo = loader.getResult('logo'),
                    theT1 = new createjs.Text("ШКОЛА", "30px/34px Oswald, serif", "#000"),
                    theT2 = new createjs.Text("МУЖЕСТВА", "30px/34px Oswald, serif", "#000"),
                    theLogo;

                theLogo = new createjs.Bitmap(imgLogo);
                theLogo.scaleX = 0.3;
                theLogo.scaleY = 0.3;
                theLogo.x = 10;
                theLogo.y = -6;

                theT1.x = 150;
                theT1.y = 6;
                theT2.x = 320;
                theT2.y = 6;

                stage.addChild(theLogo, theT1, theT2);

                var i = 0, t, textStep = 1;
                createjs.Ticker.addEventListener("tick", handleTick);
                function handleTick(event) {
                    var deltaS = event.delta / 1000;
                    i = (i + deltaS*20) % 10;
                    t = i/10;

                    theT1.x += textStep;
                    theT2.x -= textStep;

                    if (theT1.x < 150 || theT2.x < 150) {
                        textStep = -1 * textStep;
                    } else {
                        if (Math.abs(theT1.x - theT2.x) < 92) {
                            textStep = textStep * 1.12;
                        } else {
                            textStep = textStep / Math.abs(textStep);
                        }
                    }
                    stage.update();
                }
            }

            init();
        })();
    </script>
{% endblock %}
