{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.faq'|trans }}
{% endblock %}

{% block body %}
    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Частыя пытанні</h2>
                    <p>
                        Ніжэй прыведзены адказы на некаторыя пытанні, якія ўзнікаюць у нашых кліентаў.
                    </p>
                </div>

                <div class="block-content">
                    <div class="faq-item">
                        <h3 class="question">Што ўяўляе сабой анімацыя? Малюнак? Відэа?</h3>
                        <div class="answer">
                            <p>
                                Анімаваны банер прадстаўляе сцэнар, які прайграецца ў вашым браўзеры, калі казаць простымі словамі.
                                У сцэнары прапісаны жывыя рухі для кожнага элемента – у гэтым галоўная асаблівасць <strong>жулжан</strong>-падыхода.
                            </p>
                            <p>
                                Калі казаць тэхнічнай моваю,
                                замест (або ў дадатак да) звыклых png-, gif-, svg-файлаў мы прадстаўляем JavaScript-код,
                                які выконвае матэматычныя функцыі.
                            </p>
                        </div>
                    </div>

                    <div class="faq-item">
                        <h3 class="question">Чаму гэта лепей? І ці заўсёды?</h3>
                        <div class="answer">
                            <p>
                                Адразу скажам, што не заўсёды выгадней выкарыстоўваць <strong>жулжан</strong>-анімацыю.
                                Калі Вам патрэбны статычны малюнак – замаўляйце яго. Лепш, праўда, svg, каб быў вектарны і адаптыўны.
                            </p>
                            <p>
                                Наш падыход дае значныя плюсы для хоць троху прасунутай анімацыі.
                                Вы атрымаеце гладкія рухі элементаў, высокую якасць графікі, без страты якасці і большую прастору для творчасці.
                                Бо наш падыход дазваляе лёгка рабіць гульняпадобныя банеры і элементы для Вашага сайта.
                            </p>
                        </div>
                    </div>

                    <div class="faq-item">
                        <h3 class="question">Што азначае «воблачны хостынг»?</h3>
                        <div class="answer">
                            <p>
                                Гэта значыць, што ў Ваш сайт будзе ўбудаваны элемент банеру, які загрузіцца з нашага серверу.
                                Па тым жа прынцыпе, як Вы загружаеце код лічыльнікаў аналітыкі (ex. Google Analytics).
                                Адразу шчыра скажам, у такіх справах вельмі важна, каб Вы мелі давер да нас (як і да правайдара любога лічыльніка) і не падазравалі,
                                што замест банера мы ўставім шпіёнскі або шкоднасны код.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
