{% extends 'base.html.twig' %}

{% block title %}Галоўная{% endblock %}
{% block javascripts %}
    <script async defer src="/assets/js/home.js"></script>
{% endblock %}

{% block body %}
<main class="page landing-page">
    <section class="clean-block clean-hero">
        <div class="text">
            <h2>Живая творческая реклама Вашего бизнеса</h2>
            <p>
                Анимированная, печатная, текстовая, илюстрированная продукция,
                <br>
                адаптированная к интернету
            </p>
            <a href="/ru/services" class="btn btn-outline-light btn-lg">Услуги</a>
            <a href="/ru/prices" class="btn btn-outline-light btn-lg">Цены</a>
            <a href="/ru/samples" class="btn btn-outline-light btn-lg">Примеры</a>
        </div>
    </section>

    <section class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Динамика и мобильность прежде всего</h2>
                <p>
                    В мире существует множество мобильных устройств.<br/>
                    Давайте делать акцент на адаптивность и кроссплатформенность!<br/>
                </p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <canvas id="jPromo" width="540" height="250"></canvas>
                    <p class="text-muted">
                        <em>Кол-во изображений: 0.</em><br/>
                        <em>Кол-во шрифтов: 1.</em>
                    </p>
                </div>
                <div class="col-md-6">
                    <h3>Математически рассчитанная анимация вместо покадровой</h3>
                    <div class="getting-started-info">
                        <p>
                            Вместо статического изображения лио покадровой анимации (*.gif)
                            я предлагаю динамические (Html5, Javascript-based) элементы (баннер),
                            где анимацию осуществляют математические функции.
                        </p>
                    </div>
                    <a href="/ru/samples" class="btn btn-outline-primary btn-lg">Примеры</a>
                </div>
            </div>
        </div>
    </section>

    <section class="clean-block features" hidden="hidden" style="display:none">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Перавагі жулжан-анімацыі</h2>
                <p>
                    Дынамічная тэхналогія распрацоўкі жывых анімацый выглядае больш гладка
                    і дазваляе рэалізаваць большую колькасць графічных эфектаў,
                    якія з'яўляюцца запраграмаванымі, а не намаляванымі,
                    што часта скарачае аб'ём дадзеных.
                </p>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-energy icon"></i>
                    <h4>Хуткая загрузка файлаў невялікага памеру</h4>
                    <p>
                        Часта ў анімацыі захоўваецца кожны кадр (*.gif),
                        або змены наступнага кадра ад папярэдняга,
                        гэта павялічвае зыходны памер файла і запавольвае загрузку ўсёй старонкі сайта для кліента.
                        Апроч таго, гэта дадаткова нагружае ваш сервер (калі маеце вялікую наведвальнасць і не маеце кэша).
                        <br/>
                        <br/>

                        У выпадку <strong>жулжан</strong>-анімацыі
                        - усе дынамічныя элементы прапісаны ў матэматычным кодзе, які хутка грузіцца кліенту.
                    </p>
                </div>

                <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                    <h4>Лёгкасць рэдагавання</h4>
                    <p>
                        Такі падыход дазваляе дынамічна падгружаць любы Текст у баннер,
                        не адкрываючы графічны рэдактар і не звяртаючыся да мастака.
                        <br/>
                        <br/>

                        Такім чынам, лёгка можна адлюстраваць у самім <strong>жулжан</strong>-баннеры
                        назву катэгорыі або імя аўтарызаванага карыстальніка.
                        Гэта зробіць старонку больш персаналізаванай.
                        У Вас будзе адзіны зыходны файл для ўсіх катэгорый і ўсіх карыстальнікаў.
                    </p>
                </div>

                <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                    <h4>Гнуткасць і адаптыўнасць</h4>
                    <p>
                        На статычных малюнак аніяк немагчыма прадугледзець розныя паводзіны для розных дэвайсаў.
                        <br/>
                        <br/>

                        <strong>Жулжан</strong>-анімацыя можа выглядаць па-рознаму для планшэта, смартфона і кампутара.
                        А таксама можа рэагаваць на націскі клавіятуры або рухі мышкаю.
                    </p>
                </div>

                <div class="col-md-5 feature-box"><i class="icon-cloud-upload icon"></i>
                    <h4>Больше возможностей</h4>
                    <p>
                        Анимация в JavaScript может предоставлять больше возможностей для создания сложных эффектов и
                        визуальных элементов, которые могут быть трудно или невозможно создать с помощью статических
                        баннеров.
                        <br/>
                        <br/>
                        Например, вы можете создавать сложные анимированные переходы между страницами,
                        использовать 3D-эффекты и многое другое.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
