{% extends 'base.html.twig' %}

{% block title %}
    Как оплатить через систему "Расчет" (ЕРИП)
{% endblock %}


{% block body %}
    <main class="page samples-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading"></div>

                <div class="row">
                    <div class="col-md-4">
                        <h3>Описание оплаты</h3>

                        <ul>
                            <li>
                                <a href="/pay/erip">
                                    Оплата через систему ЕРИП
                                </a>
                            </li>
                            <li>
                                <a href="/pay/methods">
                                    Способы оплаты через сайт
                                </a>
                            </li>
                            <li>
                                <a href="/pay/refund">
                                    Условия возврата денег
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-8">
                        <header>
                            <h3>Как оплатить через систему "Расчет" (ЕРИП)</h3>
                        </header>

                        <article>
                            <p>Оплатить&nbsp;<strong>заказ&nbsp;</strong>Вы можете через систему "Расчет" (ЕРИП), в любом удобном для Вас месте, в удобное для Вас время, в удобном для Вас пункте банковского обслуживания –</p>
                            <p>интернет-банке,</p>
                            <p>с помощью мобильного банкинга,</p>
                            <p>инфокиоске,</p>
                            <p>кассе банков,</p>
                            <p>банкомате и т.д.</p>
                            <p>Совершить оплату можно с использованием наличных денежных средств, электронных денег и банковских платежных карточек, в пунктах банковского обслуживания&nbsp;банков, которые оказывают услуги по приему платежей, а также посредством инструментов дистанционного банковского обслуживания.</p>
                            
                            <p>ДЛЯ ПРОВЕДЕНИЯ ПЛАТЕЖА НЕОБХОДИМО:</p>
                            <ol>
                                <li aria-level="1">Выбрать&nbsp;</li>
                            </ol>
                            <p><strong>•</strong> <strong>Пункт “Система “Расчет” (ЕРИП)&nbsp;</strong></p>
                            <p><strong>•</strong><strong> </strong><strong>Группа услуг</strong></p>
                            <p><strong>•</strong><strong> </strong><strong>Подгруппа услуг</strong></p>
                            <p><strong>•</strong><strong> </strong><strong>Территориальное расположение</strong></p>
                            <p><strong>•</strong><strong> </strong><strong>Каталог с наименованием организации</strong></p>
                            <p><strong>•</strong><strong> </strong><strong>Выбрать оплачиваемую услугу</strong></p>
                            
                            <p>Для оплаты ввести&nbsp;<i><strong><u>Номер заказа</u></strong></i></p>
                            <ol start="2">
                                <li aria-level="1">Проверить корректность информации&nbsp;</li>
                                <li aria-level="1">Совершить платеж. &nbsp;</li>
                            </ol>
                            
                            <p>Если Вы осуществляете платеж в кассе банка, пожалуйста, сообщите кассиру о необходимости проведения платежа через систему ”Расчет“<strong>&nbsp;</strong>(ЕРИП).</p>
                            
                            <p>Вы также можете оплатить&nbsp;<strong>заказ</strong> по коду услуги в ЕРИП:</p>
                            <ul>
                                <li aria-level="1">Пункт&nbsp;<strong>“Система “Расчет” (ЕРИП)</strong></li>
                                <li aria-level="1"><strong>Оплата в ЕРИП по коду услуги</strong></li>
                                <li aria-level="1"><strong>Вводите код ********</strong></li>
                            </ul>
                        </article>
                    </div>
                </div>

            </div>
        </section>
    </main>
{% endblock %}
