{% extends 'base.html.twig' %}

{% block title %}
    Как оплатить через систему "Расчет" (ЕРИП)
{% endblock %}


{% block body %}
    <main class="page samples-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading"></div>

                <div class="row">
                    <div class="col-md-4">
                        <h3>Описание оплаты</h3>

                        <ul>
                            <li class="li-pay-buy">
                                <a href="/pay/buy">
                                    Оплатить через сайт онлайн
                                </a>
                            </li>
                            <li>
                                <a href="/pay/erip">
                                    Оплатить через сайт онлайн
                                </a>
                            </li>
                            <li>
                                <a href="/pay/erip">
                                    Оплата через систему ЕРИП
                                </a>
                            </li>
                            <li>
                                <a href="/pay/methods">
                                    Способы оплаты через сайт
                                </a>
                            </li>
                            <li>
                                <a href="/pay/refund">
                                    Условия возврата денег
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-8">
                        <header>
                            <h3>Оплатить через сайт</h3>
                        </header>

                        <article>
                            <form method="POST">
                                {{ form(paymentForm) }}
                            </form>
                        </article>
                    </div>
                </div>

            </div>
        </section>
    </main>
{% endblock %}
