<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Прасоўванне ў інтэрнэт</h5>
                <ul>
                    <li><a href="/be/think-tech">Напісаць тэх.заданне</a></li>
                    <li><a href="/be/order">Замовіць</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h5>Пра мяне</h5>
                <ul>
                    <li><a href="/be/about">Досвед</a></li>
                    <li><a href="/be/contact">Кантакты</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h5>Падтрымка</h5>
                <ul>
                    <li><a href="/be/faq">Частыя пытанні</a></li>
                    <li><a href="/be/contacts">Звароты</a></li>
                </ul>
            </div>

            <!--<div class="col-sm-3">
                <h5>Юрыдычны аспект</h5>
                <ul>
                    <li><a href="#">Публічная аферта</a></li>
                    <li><a href="#">Воблачнае сховішча</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>-->
        </div>

        <div class="legal-info row">
            <div class="col-md-8">
                <div class="d-flex d-inline-block align-items-center align-content-top">
                    {#<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" style="max-width: 48px">
                                <circle cx="64" cy="64" r="50" fill="#f8f9fa" stroke="#343a40" stroke-width="1" />
                                <text x="50%" y="50%" text-anchor="middle" dy=".3em" fill="#343a40" font-size="96" font-family="Brush Script MT" transform="rotate(90, 64, 64)">Ю</text>
                            </svg>#}

                    <div>
                        <p>
                            Па-магчымасці, не тэлефануйце.
                            Пішыце лісты: <strong>i[at]juljan.by</strong>.
                        </p>
                        <p class="small">
                            Тут інфа для падатковай, можна не чытаць.
                            <br/>
                            Аказанне паслуг:
                            Місюкевіч Ю. В.,
                            УНП НА6052430 (Беларусь).
                        </p>

                        <p class="small">
                            Аказанне паслуг па распрацоўцы вэб-сайтаў;
                            устаноўка (настройка) камп'ютара, настройка праграмнага забеспячэння;
                            аднаўленне кампутара пасля збою ў працы;
                            анлайн-навучанне працы на кампутары.
                        </p>

                        <p class="small">
                            <strong>Рэжым працы:</strong>
                            Пн-Сб: 00:00—02:00, 08:00-10:00, 19:00-23:30.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-right">

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <p>Юльян.By &ndash; Web-распрацоўка ад SQL да JS.</p>
    </div>
</footer>
