@import "bootstrap.min.css";

nav.navbar {
    padding: .5rem 3vw;
    box-shadow: none !important;
    border-bottom: 1px solid #ce1126;
}

@media (min-width: 576px) {
    .clean-navbar.fixed-top + .page {
        padding-top: 3.5rem !important;
    }
}

@keyframes logoBgChange {
    0% { background: #eee; }
    50% { background: #efefef; }
    100% { background: #eee; }
}

a.navbar-brand.logo {
    background: #eee;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    display: block;
    transition: all .3s ease;
    animation: logoBgChange 5s infinite;
}

a.navbar-brand.logo svg {
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}

#jPromo {
    width: 100%;
    border: 1px solid;
}

.landing-page section.clean-hero {
    background-image: url('../img/tech/image4.jpg');
    /*color: rgba(9, 162, 255, .85);*/
    color: rgba(192, 128, 128, .75);
}

.spark {
    background-color: #F00;
    visibility: hidden;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 30%;
    box-shadow: 1px 1px 5px #aa3822;
}

nav.navbar .container {
    position: relative;
}

nav.navbar .container .langs {
    position: absolute;
    font-size: 12px;
    text-transform: initial;
    font-family: Montserrat,sans-serif;
}

@media (max-width: 991.98px) {
    nav.navbar .container .langs {
        top: 0;
        left: 85px;
    }
}

@media (min-width: 992px) {
    nav.navbar .container .langs {
        top: 0;
        left: 95px;
    }
}

nav.navbar .container .langs .badge {
    padding: 2px 3px;
    /*background: #ce1126;*/
    color: #212121;
    min-width: 50px;
    border-radius: 0;
}

nav.navbar .container .langs .badge.current {
    opacity: .5;
}

nav.navbar .container .langs .badge.active {
    cursor: pointer;
}

.examples>canvas {
    margin: 1rem auto;
}

canvas {
    outline: 1px solid rgba(9, 162, 255, 0.85);
}

canvas.no-js {
    background: #ce1126;
}

canvas.loading {
    background: #eee;
}

canvas#jCesliary {
    background: url(../../../jb/cesliary/bg.jpg) 0 0 no-repeat;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0 0
    }
    50% {
        background-position: 0 25%
    }
    100% {
        background-position: 0 0
    }
}

.page-footer.dark p,
.page-footer.dark {
    color: #d2d1d1;
}

.page-footer .legal-info {
    margin: 0 15px;
    border-top: 2px dotted;
    padding-top: 1em;
}

.navbar-svg-logo {
    max-width: 40px;
}

@media (min-width: 992px) {
    .navbar-svg-logo {
        margin-left: -40px;
    }
}
